@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

/*  Jeff Bohn   1/29/2021  */


body {
  font-family: "Redressed", 'Roboto Condensed', Verdana, Times, sans-serif;
  margin: 0;
  background: #eee;
  height: auto;
}

h1 { 
	display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
	margin-bottom: .5em;
  text-transform: uppercase;
  margin-left: .3em;
  text-shadow: 1px 1px lime !important;
}

h3 {
    font-weight: 600;
    font-size: 1.9rem;
    text-transform: capitalize;
    margin: 0;
    font-family: "Redressed", 'Roboto Condensed', Verdana, Times, sans-serif;
  }
  p{
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin:.5em;
    padding-bottom: .25em;
    padding-left: 25px;
    font-family: "Redressed", 'Roboto Condensed', Verdana, Times, sans-serif;
  }

.navStyle ul {
  list-style: none;
  background: #1c1c1c;
  padding: 5px 0;
}

.navStyle li a {
  display: block;
  padding: 0 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 2em;
  height: 2em;
  border: 2px solid #383838;
}
.navStyle a:hover {
  background-color: #19FF47;
  color:  #1c1c1c;
}
img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
}
/*_________Start - LANDING AREA________*/

.landing {
  background: #fff;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
  -30px 0px 40px rgba(0, 0, 0, 0.1);
}

.landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 40vh !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.landing-image {
  background: url(../images/faqs.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh !important;
  flex: 0 1 60vw;
  margin: 0;
  text-shadow: 1px 1px white;
  font-size: 18px;
}
.landing-image p {
  position: absolute;
  margin-left: 35%;
  margin-top: 290px;
  text-shadow: 1px 1px white;
  font-size: 18px;
}

/*_________End - LANDING AREA________*/


.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}

.btn:hover {
  background-color: #19FF47;
  font-weight: bold;
}

.header {
  padding: 1.5rem;
  text-align: center;
  background: #1c1c1c;
  color: #fff;
}
/*______________________________________*/

.header h2 {
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.caption {
  padding: 0.8rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  background-color: #1c1c1c;
  color: white;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}
footer p{
    font-weight: 100;
    font-size: 1.3rem;
  }
.fontColor{
  color: white;
}
.share{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
footer a:hover {
  color: #19FF47;
  
}


/*  START new accordian stuff  */


section {
	padding-top: .5em;
  padding-bottom: 3em;
  padding-left: auto;
  padding-right: auto;
}


#faqs{
  margin-top: 8vh;
  margin-bottom: 8vh;
  width: auto;
}
.ui-accordion-header{
  background-color: lime !important;
  color: black !important;
  border: 3px solid #383838 !important; 
}
  .ui-accordion-header-collapsed{
  background-color: black !important;
  border: 3px solid #383838 !important; 
  color: white !important; 
   }
   .ui-accordion-content{
     border: 5px black solid !important;
   }
/*  END new accordian stuff  */


/* Screen Sizes 500px and Up 
@media (min-width: 500px) {
  
    .landing {
      display: flex;
      height: 100%;
    }
  
    .landing-text {
      height: 100vh;
    }
  
    .landing-image {
      height: 100vh;
    }
  }*/
  
  /* Screen Sizes 800px and Up */
  @media (min-width: 800px) {
    h2 {
      font-weight: 700;
      font-size: 2rem;
      text-transform: capitalize;
      margin: 0;
    }
    .navStyle ul {
      list-style: none;
      background: #1c1c1c;
      padding: 5px;
    }
    .navStyle ul li{
      display: inline;
    }
    .navStyle li a {
      display: inline;
      padding: 15px 10px;
      margin: 10px;
      background-color: black;
    }
    main {
      max-width: 1700px;
    }
    .container{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn {
      padding: 1rem 3rem;
    }
    #faqs{
      margin-top: 15vh;
      margin-bottom: 15vh;
      margin-left: auto;
      margin-right: auto;
      max-width: 30vw;
  }
  h1 { 
    font-size: 2.1em;
  }
  .landing {
    display: flex;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
  }

  .landing-text {
    height: 100vh;
  }

  .landing-image {
    height: 100vh;
  }
  section {
    padding-top: .5em;
    padding-bottom: 3em;
    padding-left: 2em;
    padding-right: 2em;
  }
  }




































/*

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 550px;
    margin: 0 auto;
    padding: 15px 25px;
}
h1{ 
    font-size: 150%;
    cursor: pointer; 
}
.purple{
    color: purple;
}

*/